/* -----------------------------------------
	03. Header
----------------------------------------- */
.header {
	background-color: $grey;
	border-bottom: 1px solid $border-color;
	padding: 25px 0;
	transition: background-color .25s ease, border-color .25s ease, padding .25s ease;

	&.is_stuck { // sass-lint:disable-line class-name-format
		z-index: 100;
		padding: 10px 0;
		background-color: rgba($grey, .9);
	}
}

.header-overlay {
	&:not(.is_stuck) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid rgba($white, .25);
		background-color: transparent;
		z-index: 10;
	}
}

.site-logo {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	line-height: 1;
	font-family: $secondary-font;
	color: $heading-color;
	letter-spacing: -.05em;
	max-width: 220px;

	a {
		color: $heading-color;

		.header-overlay:not(.is_stuck) & { // sass-lint:disable-line force-pseudo-nesting
			color: $white;
		}
	}
}

.site-tagline {
	font-size: 12px;
	line-height: normal;
	margin: 0;
}