/* -----------------------------------------
  09.  MOBILE MENU
----------------------------------------- */
.mm-page {
  position: static;
}

.mm-opened {
  .mm-page {
    position: relative;
  }
}

#mobilemenu {
	display: none;

	@include media-breakpoint-down(md) {
		display: block;
	}
}

.mobile-nav-trigger {
	color: $black;
	text-transform: uppercase;
	font-family: $secondary-font;
	margin-left: auto;
	text-align: right;
	display: none;

	.header-overlay & {
		color: $white;
	}
}